body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-transform: capitalize;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* hero-banner section */
.hero-banner {
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.save-childbd {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.save-childbd h1 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    line-height: 54px;
    font-weight: 700;
}

.save-childbd p {
    font-size: 16px;
    color: #fff;
    padding: 20px;
}

.donate-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background-color: yellowgreen;
    margin-top: 10px;
}

/* donate-today section */

.donate-today {
    text-align: center;
    padding: 50px 0px;
}

section.donate-today p {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
}

.donate-amount {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
}

.donate-single-amount {
    padding: 10px 35px;
    margin: 0px 30px;
    font-weight: 600;
    font-size: 18px;
}

.active {
    border: 2px solid yellowgreen;
    background-color: aliceblue;
}

.custom-amnout {
    width: 600px;
    border-bottom: 2px solid yellowgreen;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* section new */

.donate-system-about {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 50px 0px;
}

.donate-plan {
    width: 20%;
    padding: 30px;
    border: 2px solid yellowgreen;
    margin: 0px 20px;
}

.donate-plan img {
    width: 70px;
    margin: 0px;
}

.donate-plan h2 {
    line-height: 20px;
}

.donate-plan p {
    text-align: left;
}

/* importance child health */

.social-policy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 100px;
}

.social-policy-media img {
    width: 100%;
}

.social-policy.half-width {
    padding: 100px;
    text-align: left;
}

.social-policy p {
    text-align: justify;
}

.half-width {
    width: 40%;
    margin: 0 auto;
}

.social-policy-info .half-width a {
    margin-top: 20px;
    display: inline-block;
}

/* get in tuch */

.get-in-tuch {
    width: 50%;
    text-align: center;
    background-color: #00000038;
    padding: 100px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.get-in-tuch input {
    font-size: 14px;
    width: 200px;
    height: 40px;
    text-align: left;
    text-transform: capitalize;
    background-color: #FFF;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

a.get-submit-btn {
    font-size: 14px;
    padding: 11px;
    text-decoration: none;
    color: #000;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    background-color: yellowgreen;
}

/* footer */
footer {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
    color: #fff;
}